.App {
  text-align: center;
}

.Title {
  background-color: #f0c4ae;
  min-height: 8vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: left;
  font-size: calc(10px + 1vmin);
  color: white;
  padding-top: 10px;

}

.Listing {
  background-color: #f0c4ae;
  min-height: 8vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: left;
  font-size: calc(10px + 1vmin);
  color: white;
  padding-bottom: 10px;

}

.ItemList {
  background-color: #ffffff;
  min-height: 8vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: left;
  font-size: calc(10px + 1vmin);
  color: rgb(109, 109, 109);
}

.App-link {
  color: #61dafb;
}

.Container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  background-color: #ffffff;
  padding-top: 20px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;

}

#Image{
  min-width: 40vh;
  max-width: 40vh;
  border-radius: 5%;

}

p {
  margin-inline-start: 10px;
  margin-inline-end: 10px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
